<footer>
  <small>{{ site.Copyright }}</small>

  <div>
    <a
      href="https://codeberg.org/nakibrayan2"
      target="_blank"
      rel="noopener"
      aria-label="nakibrayan2 in CodeBerg"
    >
      <svg
        role="img"
        viewBox="0 0 24 24"
        width="30"
        height="30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Codeberg</title>
        <path d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12 12 12 0 0 0-.045 0zm.375 6.467l4.416 16.553a12 12 0 0 0 5.137-4.213z" />
      </svg>
    </a>

    <a
      href="{{ site.Home.RelPermalink }}blog/index.xml"
      rel="noopener"
      aria-label="Rss Feed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-rss"
      >
        <path d="M4 11a9 9 0 0 1 9 9"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <circle cx="5" cy="19" r="1"></circle>
      </svg>
    </a>
  </div>
</footer>
