<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="color-scheme" content="light dark" />
<meta name="description" content="{{ site.Params.siteDescription }}" />
<title>{{ site.Params.introTitle }}</title>

<link
  rel="alternate"
  type="application/rss+xml"
  href="/blog/index.xml"
  title="Rayan Nakib's Blog"
>

{{ with resources.Get "avatar.png" }}
{{ with .Resize (printf "%dx%d webp" .Width .Height) }}
<link rel="icon" href="{{ .Permalink }}" type="image/x-icon" />
{{ end }}
{{ end }}

{{ with resources.Get "js/theme-toggle.js" }}
<script src="{{ .Permalink }}"></script>
{{ end }}

{{ $picoOpts := dict
  "transpiler" "dartsass"
  "targetPath" "css/pico.css"
  "outputStyle" "compressed"
  "enableSourceMap" "true"
}}

{{ with resources.Get "scss/pico-1.5.11/pico.scss" | toCSS $picoOpts | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  integrity="{{ .Data.Integrity }}"
/>
{{ end }}

{{ $customOpts := dict
  "transpiler" "dartsass"
  "targetPath" "css/custom.css"
  "outputStyle" "compressed"
  "enableSourceMap" "true"
}}

{{ with resources.Get "scss/custom/main.scss" | toCSS $customOpts | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  integrity="{{ .Data.Integrity }}"
/>
{{ end }}
