nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-color-02);

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    li {
      margin: 0 0.5rem;
      a {
        text-decoration: none;
        color: var(--foreground-color-01);
      }
    }
  }

  label,
  ul label {
    display: none;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
    direction: rtl;

    @media screen and (max-width: 56rem) {
      display: grid;
    }

    div {
      width: 2rem;
      height: 0.25rem;
      margin-top: 0.15rem;
      margin-bottom: 0.15rem;
      background-color: var(--foreground-color-01);
      border-radius: 0.2rem;
    }
  }

  ul label div {
    background-color: var(--background-color-01);
  }

  ul.nav-links {
    @media screen and (max-width: 56rem) {
      flex-direction: column;
      position: fixed;
      background: var(--foreground-color-01);
      height: 100vh;
      top: 0;
      right: -100%;
      width: 50%;
      transition: ease-in-out 400ms;
      padding-top: 1rem;
      border-radius: 0;
      align-items: normal;
      text-align: center;

      li {
        margin-bottom: 1rem;
      }

      a {
        color: var(--background-color-01);
      }
    }
  }

  #hamburger-check:checked ~ .nav-links {
    @media screen and (max-width: 56rem) {
      right: 0;
    }
  }

  svg {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width:1.2rem;
    height: auto;

    fill: var(--foreground-color-01);

    -webkit-tap-highlight-color: transparent;

    @media screen and (max-width: 56rem) {
      fill: var(--background-color-01);
    }
  }
}
