div.index {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 56rem) {
    div.index {
        flex-direction: column-reverse;
    }
}

aside {
    width: 30%;
}

@media screen and (max-width: 56rem) {
    aside {
        width: 100%;
    }
}

@media screen and (max-width: 56rem) {
    div.index aside p,
    div.index aside h2 {
        text-align: center;
    }
}

div.index aside img {
    max-width: 15rem;
    border-radius: 50%;
    border: solid 3px var(--background-color-03);
}

div.index aside ul {
    margin-left: 0;
}

div.index aside ul li {
    display: flex;
}

div.index aside ul li svg {
  max-width: 1.2rem;
  margin-right: 0.5rem;

  fill: var(--foreground-color-01);
}

div.index aside hr {
    display: none;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 56rem) {
    div.index aside hr {
        display: block;
    }
}
