/******************************************************************************/
/*                                    Colors                                  */
/******************************************************************************/

:root[data-theme="light"] {
  --foreground-color-01: #3c3836;
  --foreground-color-02: #282828;
  --foreground-color-03: #504945;

  --background-color-01: #fbf1c7;
  --background-color-02: #ebdbb2;
  --background-color-03: #d5c4a1;

  --link-color: #076678;
  --link-color-hover: #458588;
}

:root[data-theme="dark"] {
  --foreground-color-01: #ebdbb2;
  --foreground-color-02: #fbf1c7;
  --foreground-color-03: #d5c4a1;

  --background-color-01: #282828;
  --background-color-02: #3c3836;
  --background-color-03: #504945;

  --link-color: #458588;
  --link-color-hover: #83a598;
}

@media (prefers-color-scheme: light) {
  :root {
      --foreground-color-01: #282828;
      --foreground-color-02: #3c3836;
      --foreground-color-03: #504945;

      --background-color-01: #fbf1c7;
      --background-color-02: #ebdbb2;
      --background-color-03: #d5c4a1;

      --link-color: #076678;
      --link-color-hover: #458588;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color-01: #ebdbb2;
        --foreground-color-02: #fbf1c7;
        --foreground-color-03: #d5c4a1;

        --background-color-01: #282828;
        --background-color-02: #3c3836;
        --background-color-03: #504945;

        --link-color: #458588;
        --link-color-hover: #83a598;
    }
}

/******************************************************************************/
/*                                   General                                  */
/******************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

body {
    background-color: var(--background-color-01);
    color: var(--foreground-color-01);
}

main {
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}

@media screen and (max-width: 67rem) {
    main {
        margin-right: 1rem;
	margin-left: 1rem;
    }
}

/******************************************************************************/
/*                                   Nav Bar                                  */
/******************************************************************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-color-02);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--foreground-color-01);
}

nav ul li a:hover {
    color: var(--foreground-color-03);
}

nav label,
nav ul label {
    display: none;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
}

nav label div,
nav ul label div {
    width: 2rem;
    height: 0.25rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    background-color: var(--foreground-color-01);
    border-radius: 0.2rem;
}

nav ul label div {
    background-color: var(--background-color-01);
}

@media screen and (max-width: 56rem) {
    nav label,
    nav ul label {
        display: grid;
    }

    
    nav ul label {
        margin-bottom: 2rem;
    }
    
    nav ul.nav-links {
        flex-direction: column;
        position: fixed;
        background: var(--foreground-color-01);
        height: 100vh;
        top: 0;
        right: -100%;
        width: 50%;
        transition: ease-in-out 400ms;
        padding-top: 1rem;
        border-radius: 0;
	align-items: normal;
    }

    #hamburger-check:checked ~ .nav-links {
        right: 0;
    }

    nav ul.nav-links li {
	text-align: center;
        margin-bottom: 1rem;
    }

    nav ul.nav-links li a {
        color: var(--background-color-01);
    }

    nav ul.nav-links li a:hover {
        color: var(--background-color-03);
    }
}

svg.theme-switcher {
  display: block;

  margin-left: auto;
  margin-right: auto;

  width:1.2rem;
  height: auto;

  fill: var(--foreground-color-01);
}

@media screen and (max-width: 56rem) {
  svg.theme-switcher {
    fill: var(--background-color-01);
  }
}

/******************************************************************************/
/*                                   Home Page                                */
/******************************************************************************/

div.index {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 56rem) {
    div.index {
        flex-direction: column-reverse;
    }
}

aside {
    width: 30%;
    height: 100vh;
}

@media screen and (max-width: 56rem) {
    aside {
        width: 100%;
    }
}

@media screen and (max-width: 56rem) {
    div.index aside p,
    div.index aside h2 {
        text-align: center;
    }
}

div.index aside img {
    max-width: 15rem;
    border-radius: 50%;
    border: solid 3px var(--background-color-03);
}

div.index aside ul {
    margin-left: 0;
}

div.index aside ul li {
    display: flex;
}

div.index aside ul li svg {
  max-width: 1.2rem;
  margin-right: 0.5rem;

  fill: var(--foreground-color-01);
}

/******************************************************************************/
/*                                  Posts List                                */
/******************************************************************************/

ul.posts-list {
    list-style: none;
    margin: 0;
    font-size: 1.1rem;
}

ul.posts-list li span {
    margin-bottom: 0.5rem;
}

/******************************************************************************/
/*                                  Typography                                */
/******************************************************************************/

h1,
h2,
h3,
h4,
h5
h6 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

img {
    display: block;

    height: auto;
    max-width: calc(100% - 1rem);

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;

}

ul,
ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

li,
li p {
    margin-bottom: 0.5rem;
}

pre {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
}
