<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="color-scheme" content="light dark" />
<meta name="description" content="I am Rayan Nakib and this is my website and blog. There’s a lot here, so thanks for stopping by!" />
<title>Rayan Nakib's Blog</title>

<link
  rel="alternate"
  type="application/rss+xml"
  href="/blog/index.xml"
  title="Rayan Nakib's Blog"
>

{{ with resources.Get "avatar.png" }}
{{ with .Resize (printf "%dx%d webp" .Width .Height) }}
<link rel="icon" href="{{ .Permalink }}" type="image/x-icon" />
{{ end }}
{{ end }}

{{ with resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  integrity="{{ .Data.Integrity }}"
/>
{{ end }}

{{ $opts := dict "includePaths" (slice "pico/scss") }}
{{ with resources.Get "scss/pico.scss" | toCSS $opts | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  integrity="{{ .Data.Integrity }}"
/>
{{ end }}

{{ with resources.Get "css/gruvbox-light.css" }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  media="(prefers-color-scheme: dark)"
/>
{{ end }}

{{ with resources.Get "css/gruvbox-dark.css" }}
<link
  rel="stylesheet"
  href="{{ .Permalink }}"
  media="(prefers-color-scheme: light)"
  id="pre-css"
/>
{{ end }}
