footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;

    @media screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }

  a:hover {
    text-decoration: none;
  }

  svg {
    margin-right: 0.5rem;
    margin-left: 0.5rem;

  }
}

