main {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

article {
  margin-top: 2rem !important;
}

footer {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

header {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  margin-bottom: 2rem !important;
}

hgroup {
  margin-bottom: 0;

  ul {
  display: flex;
  align-items: center;
  padding-left: 0;

    li {
      list-style: none;
      margin-right: 1rem;
      margin-bottom: 0;

      display: flex;
      align-items: center;

      svg {
        margin-right: 0.3rem;
      } // svg
    } // li
  } // ul
} //hgroup

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--border-radius);
}
