{{ define "main" }}

<h1 style="margin-bottom: 3rem;">{{ T "microblog" }}</h1>

{{ .Content }}

{{ range .Data.Pages }}
<article class="microblog-card">
  <span>
    <a href="{{ .Permalink }}" class="contrast time">
      <time datetime="{{ .Date | time.Format ":date_long" }} {{ .Date | time.Format ":time_short" }}">
        {{ .Date | time.Format ":date_long" }} {{ T "at" }} {{ .Date | time.Format ":time_short" }}
      </time>
    </a>
  </span>

  {{ .Content }}
  
</article>
{{ end }}

{{ end }}